.aproveOrder{
    margin: 25px 10px 0 0;
    background-color: #a1ff0a;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 5px;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    right: 0;
    animation: onDocumentLR 3s ease-in 0s 1 forwards;
}